<html>
	<head>
        <title>Complaint Portal</title>
        <style type="text/css">
            body{
                background-color: #e85c41;
            }
            .parent {
                margin-top: 2rem;
                background-color: #fff;
                width:40%;
                margin-left:auto;
                margin-right: auto;
                padding: 3.5rem;
                box-shadow: 0 0 4rem rgba(0,0,0,.3);
            }
            .caption{
                margin-top:3rem;
                font-size: 2rem;
            }
            .navbar {
                display: flex;
                flex-direction: row;
                height: auto;
                background: white;
            }
            .nav-button {
                width: 200px;
                height: 50px;
                text-decoration: none;
                text-align: center;
                padding-top: 0.8rem;
                border: 1px solid #e85c41;
            }
            .navbar a{
                text-decoration: none;
                color: #e85c41;
            }
        </style>
	</head>
	<body>    
		<center><div class="caption">Complaint Portal</div></center>
        <br>
        <div class="navbar">
            <a href="/department"><div class="nav-button">Departments</div></a>
            <a href="/tracking"><div class="nav-button">Track Your Complaint</div></a>
        </div>
        
        <form action="/submit" method="POST" class="parent">
        <table cellpadding=5px>
			<tr><td>Complaint</td><td><textarea name="c-body" id="c-body" cols="30" rows="8"></textarea></td></tr>
			<tr><td>Your Name</td><td><input type="text" name="p-name" id="p-name"></td></tr>
			<tr><td>Locality</td><td><input type="text" name="p-locality" id="p-locality"></td></tr>
			<tr><td>Pincode</td><td><input type="number" name="p-pincode" id="p-pincode"></td></tr>
			<tr><td>City</td><td><input type="text" name="p-city" id="p-city"></td></tr>
            <tr><td>State</td><td><input type="text" name="p-state" id="p-state"></td></tr>
            <tr><td>Department concerned</td><td> <select name="department">
                <option value="transportation">Transportation</option>
                <option value="water">Water</option>
                <option value="electricity">Electricity</option>
                <option value="education">Education</option>
                <option value="revenue">Revenue</option>
                <option value="general">General</option>
              </select></td></tr>
            <tr><td><input type="submit"></td><td></td></tr>
            </table>
		</form>
	</body>
</html>



 
