<h1>Departmental Login</h1>
<br>
<h5>Enter the governmental departmental credentials</h5>
<br>
<form method="POST" action="department">
    Username:<input type="text" name="department">
    Password:<input type="password" name="password">
    <input type="submit" value="submit">
</form>